*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: darkcyan;
}
.head ul{
    display: flex;
}
.head ul li{
    padding: 25px;
    margin: 5px;
    font-size: large;
    list-style: none;
}
.image{
    background: url(/image/97128253-futuristic-html-background-coding-programming-and-technology-concept-3d-rendering.webp) no-repeat fixed center / cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.image h1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    font-size: 30px;
}
.container{
    width: 50%;
}
.box{
    margin: 30px;
}
.box1{
    margin: 20px;
}
.box2{
    margin: 20px 0px;
}
#top{
    display: flex;

}
#top{
    width: 50% 50%;
    justify-content: space-between;
}
#rem{
    margin: 80px;
}
.form{
    margin: 20px;
}
.in1{
    display: flex;
    padding: 5px;
    margin: 2px;
    border-radius: 20px;
}
#rem{
    border:2px solid black;
    padding: 10px;
    height: 500px;
    position: sticky;
    top: 0;
    right: 0;
    background: url(/image/software1.jpg);
}
.right1{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}
.right1:hover{
    background-color:green;
    color: aqua;
}
.spice{
    padding: 20px;
}
#shyam{
    background: url(/image/software1.jpg)no-repeat fixed center / cover;
    height: 100vh;
}
#prem{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#prem ul li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
    transition: all 1s ease;
} 
#tap{
    padding: 20px;
}

#tap h1{
    padding-left: 10rem; 
}
#tap ul{
    padding-left: 10rem;
}
#tap ul li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
    transition: all 1s ease; 
}
.saawan{
    background: url(/image/0_M4bxiCIjcTK-2Xr6.jpeg) no-repeat fixed center / cover;

}
#tap ul li:hover{
    padding-left: 50px;
    transition-duration: 1s ;
}

#prem ul li:hover{
    padding-left: 100px;
    transition-duration: 1s;
}



